body {
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 100vh;
}

h1 {
	margin: 0;
	color: white;
	background-color: black;
	text-align: center;
	padding: 5px;
	border: 2px solid plum;
	border-radius: 10px;
}
